html{
    color:lightgray;
    background-color:#203647;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
}
.input-fields{
    display: flex;
    justify-content: space-around;
}
#WordClashButton{
    width:60%;
    margin:5% 20% 5% 20%;
}
.DefinitionContainer{
    display:flex;
    flex-direction: row;
    margin:10%;
    background-color: #203656;
}
.WordSections{
    margin: 10%;
}